<!DOCTYPE html>
<html>
<head>
  <title>First Rails application </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

	<% 3.times do %>
<i>"When I was young I thought that money was the most important thing in life; now that I am old I know that it is."</i> 
<b> Oscar Wilde </b>
<br>
<% end %>

</body>
</html>
