<h1><center><u> Welcome to my "Animal store" application</u> </center></h1>

<h2> Please enter the animal attributes to be added to the database </h2>

<div class="square" style="float: left;">
</div>

<div class="square2" style="float: right;">
</div>