<!DOCTYPE html>
<html>
<title> My Great Site</title>
<link href= "/styles/style.css" rel= "stylesheet" type = "text/css">
<head> <head>

<body> 

<%=yield %>
<%=flash[:notice] if flash[:notice] %>

</body>
</html>