html{
background-image: url(../images/UniversalBlackhole.jpg); 
margin: 100px 0 0 0;

}

body{

}

h1{
text-align: center;

}

/*nav {
	width: 900px;
	height:75px;
	border:solid 1px #0f0;
	margin:0 auto;
 }
*/
 a {
	width: 100%;
	height: 100%;
 }

 a:hover{
	color:#f00;
 }

/*This is where navigation begins */
 .header-bar {
  width: 100%;
  height: fit;
  background-color: black;
  opacity: .9;
  border:solid 4px #f00;
  border-radius: 0 0 0px 0px;
  position: fixed;
  top: 0;
  left: 0;

}

.header-bar-box{
  height: 80px;
  width: fit;
  float: left;
  opacity: 1;
}

#logo {
  margin: 0px 0 0 20px;

}


#nav {
  float: right;
  margin-right: 80px;
  margin-top: 20px;
}

#nav ul{
  list-style-type: none;
}

#nav li {
  display: inline-block;
  margin-left: 10px;
  border-radius: 5px;
}

#nav a{
  text-decoration: none;
  color: red;
  font-family: impact;
  font-weight: bold;
  font-size: 19px;
  opacity: 1;
  transition: color .5s ease;
}

#nav a:hover{
  color: gray;
}

/* This is where the navigation ends*/

#menu {
    width: 1250px;
    height: 50px;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: left;
    text-shadow: 3px 2px 3px #333333;
    background-color: #667185;
    border-radius: 8px;
	
   
    margin: 0px auto;
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}

#menu li { 
display: inline; 
padding: 20px; 
}

#menu a:hover {
    color: #F90;
    background-color: #FFF;
}


.square {
width:300px;
height:200px;
background-color:#ff0000;
text-align:center;
border-radius: 5pt;
}

.square2 {
width:300px;
height:200px;
background-color:#00ff00;
text-align:center;
border-radius: 5pt;
}

.square3 {
width:300px;
height:200px;
background-color:#0000ff;
text-align:center;
border-radius: 5pt;
}

.square4 {
width:300px;
height:200px;
background-color:black;
text-align:center;
border-radius: 5pt;
}

.square5 {
width:300px;
height:200px;
background-color:white;
text-align:center;
border-radius: 5pt;
}

#banner {
	width: 900px;
	height:100px;
	border:solid 1px #fff;
	margin:0 auto;
	
 }

 #minibanner {
	width: 180px;
	height:40px;
	border:solid 1px #000;
	margin:0 auto;

	color: white;
 }

#div1{
width: 300px;
height: 300px;
background: white;
border-radius: 5pt;


}

#div2{
width: 300px;
height: 200px;
background: black;
border-radius: 5pt;

color: white;

margin: -140px 400px;
}

#div3{
width: 300px;
height: 300px;
background: green;
border-radius: 5pt;

margin: 100px 100px;

}

#speech-bubble {
   width: 120px; 
   height: 80px; 
   background: blue;
   position: absolute;
   -moz-border-radius: 10px; 
   -webkit-border-radius: 10px; 
   border-radius: 10px;
}
#speech-bubble:before {
   content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid blue;
   border-bottom: 13px solid transparent;
   margin: 13px 0 0 -25px;
}

.boxgame{
	width: 100px;
	height: 40px;
	background: blue;
	border-radius: 5pt;

	margin: 0px 70px;
}