$nav-font-size: 1.5em;

nav {
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;

	ul {
		border-top: 2px solid orange;
		border-bottom: 2px solid orange;
		background-color: cyan;

		li {
			list-style: none;
			display: inline;
			padding: 10px;
			border: 2px solid black;
			border-radius: 5px;
			margin-right: 10px;
			background-color: gray;
			font-size: $nav-font-size;
		}

		li:hover {
			border: 2px solid pink;
			color: lightgreen; 
		}

		a {
			text-decoration: none;
			color: inherit;
		}

	}
}